@using EstateManagementUI.BusinessLogic.PermissionService.Constants
@using EstateManagementUI.Pages.FileProcessing.FileImportLogs
@using EstateManagementUI.Pages.Shared
@using EstateManagementUI.ViewModels
@using Hydro.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EstateManagementUI.Pages.FileProcessing.FileImportLog.FileImportLog

@{
    string GetSorting(FileImportLogSorting sorting) =>
        Model.Sorting.Column == sorting
            ? Model.Sorting.Ascending ? "\u2193" : "\u2191"
            : null;
}

<table class="table table-sm" id="fileList">
    <thead class="thead-light">
        <tr class="d-flex">
            <th hydro-action="Sort" param-value="@FileImportLogSorting.FileName" role="button" class="col-3">
                File Name @GetSorting(FileImportLogSorting.FileName)
            </th>
            <th hydro-action="Sort" param-value="@FileImportLogSorting.OriginalFileName" role="button" class="col-1">
                Original File Name @GetSorting(FileImportLogSorting.OriginalFileName)
            </th>
            <th hydro-action="Sort" param-value="@FileImportLogSorting.DateTimeUploaded" role="button" class="col-2">
                Uploaded @GetSorting(FileImportLogSorting.DateTimeUploaded)
            </th>
            <th hydro-action="Sort" param-value="@FileImportLogSorting.FileProfile" role="button" class="col-2">
                File Profile @GetSorting(FileImportLogSorting.FileProfile)
            </th>
            <th hydro-action="Sort" param-value="@FileImportLogSorting.UserName" role="button" class="col-2">
                Uploaded By @GetSorting(FileImportLogSorting.UserName)
            </th>
            <th class="col-1"></th>
        </tr>
    </thead>
    <tbody>
    @foreach (File fileModel in Model.Files)
    {
            <tr class="hover d-flex">
                <td class="col-3">
                    @fileModel.FilePath
            </td>
            <td class="col-1">
                @fileModel.OriginalFileName
            </td>
            <td class="col-2">
                @fileModel.UploadDateTime.ToString("dd/MM/yyyy HH:mm")
            </td>
            <td class="col-2">
                @fileModel.FileProfileName
            </td>
                <td class="col-2">
                    @fileModel.UserName
                </td>
            <td class="col-1">
            </td>
                <td class="align-middle text-end">
                    @{
                        TableDropdownItem[] menuItems = new TableDropdownItem[]
                        {
                new("View Details", () => Model.ViewFileDetails(@fileModel.FileId), (ApplicationSections.FileProcessing, FileProcessingFunctions.ViewFileDetails),$@"{@fileModel.FileId.ToString().Replace("-", "")}ViewFiles")
                        };
                    }

                    <partial name="TableDropdown" model="@menuItems" />
                </td>
        </tr>
    }
    </tbody>
</table>