@using EstateManagementUI.BusinessLogic.Clients
@using EstateManagementUI.BusinessLogic.PermissionService
@using EstateManagementUI.Pages.Services
@using global::Shared.Logger
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SimpleResults
@inject IPermissionsService PermissionsService
@inject NavigationService NavigationService

<ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
<li class="nav-item menu-open">
    @{
        @Html.Raw(await NavigationService.RenderItem(User.Identity.Name,"Dashboard", "Dashboard", "dashboardLink"));
        @Html.Raw(await NavigationService.RenderItem(User.Identity.Name, "My Estate", "Estate", "estateDetailsLink"));
        @Html.Raw(await NavigationService.RenderItem(User.Identity.Name, "My Merchants", "Merchant", "merchantsLink"));
        @Html.Raw(await NavigationService.RenderItem(User.Identity.Name, "My Contracts", "Contract", "contractsLink"));
        @Html.Raw(await NavigationService.RenderItem(User.Identity.Name, "My Operators", "Operator", "operatorsLink"));
        @Html.Raw(await NavigationService.RenderItem(User.Identity.Name, "Reports", "Reporting", "reportingLink"));
        @Html.Raw(await NavigationService.RenderItem(User.Identity.Name, "File Processing", "FileProcessing", "fileProcessingLink"));
    }
</li>
</ul>
