@using EstateManagementUI.ViewModels
@model EstateManagementUI.Pages.Merchant.MerchantsList

@{
    string GetSorting(MerchantSorting sorting) =>
        Model.Sorting.Column == sorting
            ? Model.Sorting.Ascending ? "\u2193" : "\u2191"
            : null;
}


<table class="table table-sm" id="merchantList">
    <thead class="thead-light">
    <tr class="d-flex">
        <th hydro-action="Sort" param-value="@MerchantSorting.Name" role="button" class="col-2">
            Name @GetSorting(MerchantSorting.Name)
        </th>
        <th hydro-action="Sort" param-value="@MerchantSorting.Reference" role="button" class="col-1">
            Reference @GetSorting(MerchantSorting.Reference)
        </th>
        <th hydro-action="Sort" param-value="@MerchantSorting.SettlementSchedule" role="button" class="col-2">
            Settlement Schedule @GetSorting(MerchantSorting.SettlementSchedule)
        </th>
        <th hydro-action="Sort" param-value="@MerchantSorting.Contact" role="button" class="col-2">
            Contact @GetSorting(MerchantSorting.Contact)
        </th>
        <th hydro-action="Sort" param-value="@MerchantSorting.AddressLine1" role="button" class="col-2">
            Address Line 1 @GetSorting(MerchantSorting.AddressLine1)
        </th>
        <th hydro-action="Sort" param-value="@MerchantSorting.Town" role="button" class="col-2">
            Town @GetSorting(MerchantSorting.Town)
        </th>
        <th class="col-1"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (Merchant merchantModel in Model.Merchants)
    {
        <tr class="hover d-flex">
            <td class="col-2">
                @merchantModel.Name

                </td>
            <td class="col-1">
                @merchantModel.Reference
            </td>
            <td class="col-2">
                @merchantModel.SettlementSchedule
            </td>
            <td class="col-2">
                @merchantModel.ContactName
            </td>
            <td class="col-2">
                @merchantModel.AddressLine1
            </td>
            <td class="col-2">
                @merchantModel.Town
            </td>
            <td class="col-1">
            </td>
            @* <td class="align-middle text-end">
                @{
                    var menuItems = new TableDropdownItem[]
                    {
                        new("Edit", () => Model.Edit(product.Id))
                    };
                }

                <partial name="TableDropdown" model="@menuItems" />
            </td> *@
        </tr>
    }
    </tbody>
</table>

