@using EstateManagementUI.Pages.Shared
@using EstateManagementUI.ViewModels
@using Hydro.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Pages.Contract.ContractProduct.ContractProductsList

@{
    string GetSorting(ContractProductSorting sorting) =>
        Model.Sorting.Column == sorting
            ? Model.Sorting.Ascending ? "\u2193" : "\u2191"
            : null;
}

<table class="table table-sm" id="contractProductList">
    <thead class="thead-light">
        <tr class="d-flex">
            <th hydro-action="Sort" param-value="@ContractProductSorting.ProductName" role="button" class="col-2">
                Product Name @GetSorting(ContractProductSorting.ProductName)
            </th>
            <th hydro-action="Sort" param-value="@ContractProductSorting.ProductType" role="button" class="col-2">
                Product Type @GetSorting(ContractProductSorting.ProductType)
            </th>
            <th hydro-action="Sort" param-value="@ContractProductSorting.DisplayText" role="button" class="col-2">
                Display Text @GetSorting(ContractProductSorting.DisplayText)
            </th>
            <th hydro-action="Sort" param-value="@ContractProductSorting.Value" role="button" class="col-1">
                Value @GetSorting(ContractProductSorting.Value)
            </th>
            <th hydro-action="Sort" param-value="@ContractProductSorting.NumberOfFees" role="button" class="col-1">
                Fees @GetSorting(ContractProductSorting.NumberOfFees)
            </th>
            <th class="col-1"></th>
        </tr>
    </thead>
    <tbody>
    @foreach (ContractProduct contractProductModel in Model.ContractProducts) {
        <tr class="hover d-flex">
            <td class="col-2">
                @contractProductModel.ProductName
            </td>
            <td class="col-2">
                @contractProductModel.ProductType
            </td>
            <td class="col-2">
                @contractProductModel.DisplayText
            </td>
            <td class="col-1">
                @contractProductModel.Value
            </td>
            <td class="col-1">
                @contractProductModel.NumberOfFees
            </td>
            <td class="col-1">
            </td>
            <td class="align-middle text-end">
                @{
                    TableDropdownItem[] menuItems = new TableDropdownItem[] {
                        //new("Edit", () => Model.Edit(@contractModel.ContractId), $@"{contractModel.Description}Edit"),
                        //new("View Products", () => Model.ViewProducts(@contractModel.ContractId), $@"{contractModel.Description}Edit")
                    };
                }

                <partial name="TableDropdown" model="@menuItems"/>
            </td>
        </tr>
    }
    </tbody>
</table>